<div class="nested-fields">
  <div class="field">
    <h4>材料</h4>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <h4>分量</h4>
    <%= f.text_field :quantity %>
  </div>

  <%= link_to_remove_association "削除", f %>
</div>