<div class="nested-fields">
  <div class="row">
    <div class="col-4">
      <div class="form-inline">
        <div class="form-check form-check-inline">
          <%#= f.label :ステップ %><br />
          <%#= f.select :step_no, *[1..10], class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="form-group">
        <%= f.file_field :images, multiple: true, accept: "image/*" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-10">
      <div class="form-group">
        <%= f.label :作り方 %><br />
        <%= f.text_area :content , class: "form-control border-danger"%>※必須入力
      </div>
    </div>
    <div class="mt-5">
      <%= link_to_remove_association "削除", f %>
    </div>
  </div>
</div>
