<div class="nested-fields">
  <h4>作り方</h4>
  <div class="field">
    ステップ<%= f.select :step_no, *[1..10] %>
    <%= f.text_area :content %>
    <%= f.file_field :images, multiple: true, accept: "image/*" %>

    <%= link_to_remove_association "削除", f %>
  </div>
</div>