

  <tabel class="tabel">
    <% @users.each do |user| %>
      <tr>
        <%= user.name %>
        <%= image_tag.user.user_image %>
      </tr>
    <% end %>
  </tabel>
<%= paginate users %>
</div>
