<%= render "user", user: @user %>

<div class="container">
  <h3>投稿したレシピ</h3>
  <% if @recipe.present? %>
    <%= render "recipes/recipe", recipe: @recipe %>
  <% else %>
    <p>まだレシピを投稿していません。</p>
  <% end %>
</div>