<div class="container">
  <h3>会員一覧</h3>
  <table class="table">
    <tr>
      <th>ID</th>
      <th>ニックネーム</th>
      <th>登録日時</th>
      <th>投稿レシピ</th>
    </tr>
    <% @user.each do |user| %>
    <tr>
      <td>
        <%= user.id %>
      </td>
      <td>
        <%= link_to user.name, admin_user_path(user.id) %>
      </td>
      <td>
        <%= user.created_at %>
      </td>
      <td>
        <%= link_to 'レシピ一覧', admin_admin_index_path(user.id), class: 'btn btn-outline-success' %>
      </td>
    </tr>
  <% end %>
  </table>
</div>