<%= flash[:notice] %>
<div class="container">
  <div class="row">
    <h3>RED RECIPEへようこそ！<br>
      こちらは辛い料理専門のレシピサイトです、ピリ辛好きさんから激辛好きさんまで楽しんでもらえたらうれしいです！
    </h3>
  </div>
  <%= render "/recipes/recipe", recipe: @recipe %>
</div>
