<div class="container mt-5">
  <div class="row">
    <div class="col-6 mx-auto">
      <h3>みんなのレポ</h3>
      <tabel class="tabel table-striped">
        <% @report.each do |report| %>
          <tr>
            <td>
              <%= image_tag report.get_image(150,150) %>
              <%= report.content %>
              by <%= report.user.name %>
            </td>
          </tr>
        <% end %>
      </tabel>
    </div>
  </div>
</div>